.browse{
    text-align: center;
    margin-top: 30px;
}

@media only screen and (max-width: 767px) {
    .browse {
      margin-top: 270px; 
    }
  }

.range{
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
}

.range-text{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.RangeItem{
    color:#333333;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    margin-top: 25px;
}